body {
    font: 14px Verdana, Geneva, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }

  .UltimateBoard{
    height:463px;
    width:465px;
    display: inline-block;
    margin-top: 30px ;

  }

  .done{
    height:150px;
    width:150px;
    text-align: center;
    line-height: 75px;
    white-space: nowrap;
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  
  
  .board0 {
    border:  solid;
    float: left;
    font-size: 150px;
    font-weight: bold;
    line-height: 150px;
    height: 150px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 150px;
  }
  .board1 {
    border:  solid;
    float: left;
    font-size: 150px;
    font-weight: bold;
    line-height: 150px;
    height: 150px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 150px;
  }
  .board2{
    border:  solid;
    float: left;
    font-size: 150px;
    font-weight: bold;
    line-height: 150px;
    height: 150px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 150px;

  }
  .status {
    margin-top: 10px;
    display: inline-block;
    font-size: 35px;

  }
  .won{
    font-size: 70px;
    text-align: center;
    white-space: nowrap;
  }
  .congrats{
    margin-top: 150px ;
    font-size: 70px;
    text-align: center;
    white-space: nowrap;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  .title{
    text-align: center;
    font-size: 80px;
    font-weight: bold;
  }

  .page{
    text-align: center;
  }

  .reset{
    font-size: 30px;
  }
  .name{
    font-size: 20px;
  }
  